.bg {
  position: relative;
  background-image: url(https://www.tallengestore.com/cdn/shop/products/LordOfTheRings-FellowshipOfTheRing-HollywoodMoviePoster_9a4d836e-c9ef-4cca-b9a2-0c1a1b5f2cf9.jpg?v=1630764641);
  background-size: cover;
  background-position: center;
}